
.App {
  position: absolute;
  top: 59px;
  bottom: 0px;
  right: 0;
  overflow: auto;
}

.top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.top-bar span.region {
  display: block;
  width: 100%;
}

.top-bar span.region .region-id {
  color: #aab7b8;
}

.top-bar span.region .region-name {
  color: white;
}

.top-bar span.region:hover .region-name ,  .top-bar span.region:hover .region-id {
  color: #44B9D6;
}

.top-bar span.region-selected , .top-bar span.region-selected > .region-name , .top-bar span.region-selected > .region-id {
  color: #44B9D6;
  font-weight: bold;
}


.top-bar span.region .region-id {
  padding-left: 8px;
}

a {
  text-decoration: none;
  color: #0073BB;
}

a:hover {
  text-decoration: underline;
  color: #0073BB;
}


.app-layout {
  margin-top: 56px;
}

.inner-app-layout {
  margin-left: -40px;
  margin-top: -26px;
  margin-bottom: -10px;
  margin-right: -40px;
}

.sidebar-icons {
  z-index: 999;
  position: absolute;
  width: 40px;
  top: 107px;
}

.sidebar-icons div {
  padding-top: 5px;
  padding-left: 7px;
  cursor: pointer;
}

.sidebar-icons svg {
  color: #666;
  width: 27px;
  height: 32px;
}

.sidebar-icons a.selected , .sidebar a.selected {

  background: rgba(236, 114, 17, 0.1);
/*  background: rgba(25, 118, 210, 0.1); */
}

.sidebar {
  color: #666;
  margin-top: 58px;
  margin-bottom: 10px;
}

.sidebar a {
  color: #666;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebar a svg {
  width: 18px;
  height: 20px;
}



#region-select-menu .MuiMenu-list ,
#region-select-menu .MuiButtonBase-root-MuiMenuItem-root
{
  max-height: 200px;
}

#wizard-content {
  padding-top: 0px;
}

#wizard-content .MuiList-root {
  padding-top: 0px;
}


table th {
  text-align: left;
}

table td, table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
}

table tr {
  border-bottom-color: rgb(128, 128, 128);
}

table thead th {
  border-bottom: 1px solid rgb(128, 128, 128);
  color: rgb(84, 91, 100);
}

table.cluster-list {
  border-collapse: collapse;
  font-size: 10pt;
}

table.cluster-list tbody tr:hover {
  cursor: pointer;
  user-selecct: none;
  background: rgba(25, 118, 210, 0.1);
}

table.cluster-list tr.selected {
  background: rgba(236, 114, 17, 0.08);
}

div.cluster-list {
  margin-bottom: 15px;
}

table.stackevents td {
  font-size: 12px;
}

button.action {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}

button.action div.container {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}

.action {
  cursor: pointer;
}

.clusters {
  width: 100%;
}

.cluster-properties-table {
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #FEFEFE;
  background: white;
  width: 1024px;
  text-align: left;
  padding-bottom: 20px;
  font-size: 10pt;
}

.cluster-properties-table td {
  padding: 5px;
  padding-top: 0;
}

.create-cluster-settings {
  margin-bottom: 10px;
}

.create-cluster-settings button {
  margin-right: 20px;
  margin-top: 15px;
}

div.custom-image-details table {
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 12px;
}


.build-image-settings {
  margin-bottom: 10px;
}

.build-image-settings button {
  margin-right: 20px;
  margin-top: 15px;
}


/* Wizard */
.wizard-container {
  min-height: 400px;
}

.wizard-compute-add {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.config-side-navigation .disabled
{
  cursor: not-allowed;
  color: #aaa;
}

.polaris-form fieldset {
  border: none;
}