[Unit]
Description=Slurm REST daemon
After=network.target munge.service slurmctld.service
ConditionPathExists=/opt/slurm/etc/slurm.conf
Documentation=man:slurmrestd(8)

[Service]
Type=simple
User=slurmrestd
Group=slurmrestd
Environment="SLURM_JWT=daemon"
ExecStart=/opt/slurm/sbin/slurmrestd unix:/var/spool/socket/slurmrestd.sock -a rest_auth/jwt
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
