[Unit]
Description=SlurmDBD daemon
After=munge.service network.target
ConditionPathExists=/opt/slurm/etc/slurmdbd.conf
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=slurm
ExecStart=/opt/slurm/sbin/slurmdbd -D -s
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
